parameters:


application:
	errorPresenter:
		4xx: Error:Error4xx
		5xx: Error:Error5xx
	mapping: App\UI\*\**Presenter


database:
	dsn: 'mysql:host=mysql_db;dbname=my_database'
	user: my_user
	password: my_password

latte:
	strictTypes: yes
	strictParsing: yes
	extensions:
		- App\UI\Accessory\LatteExtension

di:
	export:
		parameters: no
		tags: no

extensions:
    api: Apitte\Core\DI\ApiExtension

api:
    debug: %debugMode%
    catchException: true # Sets if exception should be catched and transformed into response or rethrown to output (debug only)