parameters:
    doctrine:
        host: mysql_db
        user: my_user
        password: my_password
        dbname: my_database

includes:
	- doctrine.neon

application:
	errorPresenter:
		4xx: Error:Error4xx
		5xx: Error:Error5xx
	mapping: App\UI\*\**Presenter

di:
	export:
		parameters: no
		tags: no

extensions:
    api: Apitte\Core\DI\ApiExtension
    console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)

api:
    debug: %debugMode%
    catchException: true # Sets if exception should be catched and transformed into response or rethrown to output (debug only)

console:
	name: Acme Project
	version: '1.0'
	catchExceptions: true
	autoExit: true
	url: https://example.com