services:
	- App\Core\Controllers\ProductsController
	- App\Core\Controllers\ProductPriceHistoryController
	- App\Core\Controllers\OpenApiController

search:
	-	in: %appDir%
		classes:
			- *Factory
			- *Facade
